@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Signika", system-ui;
    text-align: center;
}

.intro-image {
    align-items: center;
    background-attachment: fixed;
    background-image: linear-gradient(to top right, rgba(129, 39, 39, 0.038), rgba(0, 0, 0, 0.668)) , 
    url(../img/img1.jpeg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    height: 600px;
    justify-content: center;
}

.intro-image__text a {
    background-color: #41312379;
    border: 2px solid #c3b9af;
    color: #c3b9af;
    display: inline-block;
    font-size: 2rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__text a:hover {
    transform: scale(1.2);
}

.intro-text {
    align-items: center; 
    background-color: #413123;
    color: beige;
    display: flex;
    height: 400px; 
    justify-content: center;
    margin-top: -10rem;
    padding-top: 1rem;
    clip-path: polygon(40% 10%, 100% 0, 100% 67%, 100% 98%, 77% 95%, 27% 100%, 0 100%, 0 43%, 0 0);
}

.intro-text__textbox h3 {
    color: beige;
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem; 
}

.text-solid {
    color: solid rgb(205, 205, 177);
    font-size: 1rem;
    margin-bottom: 1rem;
    display: block;
}

.packaging-image {
    background-attachment: fixed;
    background-image: url(../img/img2.jpeg);
    background-size: cover;
    background-position: bottom;
    height: 500px;
    display: flex;
    margin-top: -1.3rem;
    align-items: center;
    justify-content: center; 
}

.packaging-image__text a {
    background-color: #86837fb0;
    border: 2px solid #122337;
    color: #122337;
    display: inline-block;
    font-size: 2rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.packaging-image__text a:hover {
    transform: scale(1.2);
}

.packaging-text {
    background-color: #77482a;
    color: #e3bc5a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 0 15rem;
}

.packaging_text__textbox h3 {
    color: #e3bc5a;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tutorials-image {
    background-attachment: fixed;
    background-image: url(..//img/img3.webp);
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text a {
    background-color: #978f89af;
    border: 2px solid #8e6f54;
    color:  #ffffff;
    display: inline-block;
    font-size: 2rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.tutorials-image__text a:hover {
    transform: scale(1.2);
}

.footer {
    color: #ccc6be;
    background-color: #4b453f;
    font-size: 1rem;
    height: 200px;
    padding: 1rem;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    text-decoration: none;
    color: #ccc6be;
}

.footer ul li:hover, .footer ul li a:hover {
    color: #ffffff;
    transform: scale(1.2);
}